<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>题库管理系统 | 习题管理</title>
        {include file="header"/}
    </head>
    <body class="skin-blue">
        <!-- header logo: style can be found in header.less -->
        {include file="nav"/}
        <div class="wrapper row-offcanvas row-offcanvas-left">
            <!-- Left side column. contains the logo and sidebar -->
            {include file="menu"/}
            <!-- Right side column. Contains the navbar and content of the page -->
            <aside class="right-side">
                <!-- content Header (Page header) -->
                <section class="content-header">
                    <h1>
                        习题管理
                        <small>习题管理</small>
                    </h1>
                    <ol class="breadcrumb">
                        <li><a href="{:url('admin/index/index')}"><i class="fa fa-dashboard"></i> 首页</a></li>
                        <li><a href="{:url('admin/exercises/index')}">习题</a></li>
                        <li class="active">所有习题</li>
                    </ol>
                </section>

                <!-- Main content -->
                <section class="content">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="box box-danger">
                                <div class="box-header">
                                    <h3 class="box-title"></h3>
                                </div>
                                <div class="box-body">
                                    <div class="box-body table-responsive no-padding">
                                    <table class="table table-hover">
                                        <tbody>
                                            <tr>
                                                <th>ID</th>
                                                <th>题干</th>
                                                <th>选项</th>
                                                <th>正确答案</th>
                                                <th>解析</th>
                                                <th width="80">题型</th>
                                                <th width="80">操作</th>
                                            </tr>
                                            {volist name="exercises" id="vo"}
                                            <tr id="node-{$vo.exercises_id}">
                                                <td>{$vo.exercises_id}</td>
                                                <td>{$vo.content|htmlspecialchars_decode }</td>
                                                <td>
                                                    {volist name="$vo.answer" id="option"}
                                                    {$option|htmlspecialchars_decode}<br/>
                                                    {/volist}
                                                </td>
                                                <td>{$vo.right_answer}</td>
                                                <td>{$vo.analytical|htmlspecialchars_decode}</td>
                                                <td>{if $vo.question_type == 1}单选{elseif $vo.question_type == 2}多选{elseif $vo.question_type == 6}简答{elseif $vo.question_type == 10}填空{/if}</td>
                                                <td>
                                                    <a href="{:url('admin/exercises/edit','qid='.$vo.exercises_id.'&sid='.$sid)}" class="btn btn-primary" style="margin-bottom: 5px;"><i class="glyphicon glyphicon-pencil"></i>  编辑</a>
                                                    <a href="javascript:;" onclick="deleteConfirm({$vo.exercises_id});" class="btn btn-danger"><i class="glyphicon glyphicon-trash"></i>  删除</a>
                                                </td>
                                            </tr>
                                            {/volist}
                                        </tbody>
                                    </table>
                                    {$exercises->render()}
                                </div>
                                </div><!-- /.box-body -->
                            </div><!-- /.box -->
                        </div><!-- /.col (left) -->
                    </div><!-- /.row -->
                </section><!-- /.content -->
            </aside><!-- /.right-side -->
        </div><!-- ./wrapper -->
        {include file="footer"/}
        <script>
        function deleteConfirm (id) {
          bootbox.confirm({
              title: "删除一个题目",
              message: "是否确定要删除此道题？删除之后不能恢复。",
              buttons: {
                  cancel: {
                      label: '<i class="fa fa-times"></i> 取消'
                  },
                  confirm: {
                      label: '<i class="fa fa-check"></i> 确定'
                  }
              },
              callback: function (result) {
                if (result) {
                    $.ajax({ url: "{:url('admin/exercises/delete')}", data: {"id":id,"sid":{$sid}}, success: function(){
                        $("#node-"+id).remove();
                    }});
                }
              }

            });
        }
        </script>
    </body>

</html>
