            <aside class="left-side sidebar-offcanvas">
                <!-- sidebar: style can be found in sidebar.less -->
                <section class="sidebar">
                    <!-- Sidebar user panel -->
                    <div class="user-panel">
                        <div class="pull-left image">
                        </div>
                        <div class="pull-left info">
                            <p>你好，{$info.user_name}</p>
                            <a href="#"><i class="fa fa-circle text-success"></i> 在线</a>
                        </div>
                    </div>

                    <!-- sidebar menu: : style can be found in sidebar.less -->
                    <ul class="sidebar-menu">
                        <li class="active">
                            <a href="{:url('admin/index/index')}">
                                <i class="fa fa-dashboard"></i> <span>控制台</span>
                            </a>
                        </li>
                        <li class="treeview" id="Admin">
                            <a href="#">
                                <i class="fa fa-user"></i> <span>账号</span>
                                <i class="fa fa-angle-left pull-right"></i>
                            </a>
                            <ul class="treeview-menu">
                                <li><a href="{:url('admin/admin/index')}"><i class="fa fa-angle-double-right"></i> 全部账号</a></li>
                                <li><a href="{:url('admin/admin/add')}"><i class="fa fa-angle-double-right"></i> 添加账号</a></li>
                            </ul>
                        </li>
                        <li class="treeview" id="Auth">
                            <a href="#">
                                <i class="fa fa-group"></i> <span>权限</span>
                                <i class="fa fa-angle-left pull-right"></i>
                            </a>
                            <ul class="treeview-menu">
                                <li><a href="{:url('admin/auth/group')}"><i class="fa fa-angle-double-right"></i> 用户组管理</a></li>
                                <li><a href="{:url('admin/auth/auth')}"><i class="fa fa-angle-double-right"></i> 权限管理</a></li>
                                <li><a href="{:url('admin/auth/assigment')}"><i class="fa fa-angle-double-right"></i> 分配权限</a></li>
                            </ul>
                        </li>
                        <li class="treeview" id="Subject">
                            <a href="#">
                                <i class="fa fa-book"></i>
                                <span>科目</span>
                                <i class="fa fa-angle-left pull-right"></i>
                            </a>
                            <ul class="treeview-menu">
                                <li><a href="{:url('admin/subject/index')}"><i class="fa fa-angle-double-right"></i> 查看科目</a></li>
                                <li><a href="{:url('admin/subject/add')}"><i class="fa fa-angle-double-right"></i> 添加科目</a></li>
                            </ul>
                        </li>
                        <li class="treeview" id="Chapter">
                            <a href="#">
                                <i class="fa fa-list-ul"></i>
                                <span>章节</span>
                                <i class="fa fa-angle-left pull-right"></i>
                            </a>
                            <ul class="treeview-menu">
                                <li><a href="{:url('admin/chapter/index')}"><i class="fa fa-angle-double-right"></i> 查看章节</a></li>
                                <li><a href="{:url('admin/chapter/add')}"><i class="fa fa-angle-double-right"></i> 添加章节</a></li>
                            </ul>
                        </li>
                        <li class="treeview" id="Exercises">
                            <a href="#">
                                <i class="fa fa-edit"></i> <span>习题</span>
                                <i class="fa fa-angle-left pull-right"></i>
                            </a>
                            <ul class="treeview-menu">
                                <li><a href="{:url('admin/exercises/index')}"><i class="fa fa-angle-double-right"></i>所有习题</a></li>
                                <li><a href="{:url('admin/exercises/add')}"><i class="fa fa-angle-double-right"></i> 添加习题</a></li>
                            </ul>
                        </li>
                        <li class="treeview" id="Paper">
                            <a href="#">
                                <i class="fa fa-files-o"></i> <span>试卷</span>
                                <i class="fa fa-angle-left pull-right"></i>
                            </a>
                            <ul class="treeview-menu">
                                <li><a href="pages/tables/simple.html"><i class="fa fa-angle-double-right"></i> 所有试卷</a></li>
                                <li><a href="pages/tables/data.html"><i class="fa fa-angle-double-right"></i> 添加试卷</a></li>
                            </ul>
                        </li>
                        <li class="treeview" id="Setting">
                            <a href="#">
                                <i class="fa fa-cogs"></i> <span>设置</span>
                                <i class="fa fa-angle-left pull-right"></i>
                            </a>
                            <ul class="treeview-menu">
                                <li><a href="pages/tables/data.html"><i class="fa fa-angle-double-right"></i> 系统设置</a></li>
                            </ul>
                        </li>
                    </ul>
                </section>
                <!-- /.sidebar -->
            </aside>